<nav
  class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 sticky-top shadow"
>
  <div class="container-fluid">
    <a class="navbar-brand">LPIC LCE</a>
    <div
      class="navbar-collapse collapse d-sm-inline-flex justify-content-between"
    >
      <ul class="navbar-nav flex-grow-1">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/learn/list">Learn - Liste</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/learn/single">Learn - Einzel</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
