<button (click)="getQuestion()">bla</button>

<div class="container">
  <div class="card shadow my-2" *ngIf="question">
    <div class="card-body">
      <p class="list-group-item fs-5" style="white-space: pre-line;">{{ question.question }}</p>
      <ng-container *ngIf="question.type === 'fill'; else elseTypeTempl">
        <input class="form-control" disabled type="text" value="{{ question.choices[0].answer }}">
      </ng-container>
      <ng-template #elseTypeTempl>
        <div class="card my-1" *ngFor="let a of question.choices" [ngStyle]="{backgroundColor: a.correct ? 'lightgreen' : 'transparent'}">
          <p class="card-text p-2">{{ a.answer }}</p>
        </div>
      </ng-template>
      <div class="text-end">
        <span>Frage: {{ question.id }}</span>
      </div>
    </div>
  </div>
</div>