<div class="grid mb-2">
  <div class="col-8 col-offset-2">
    <p-fieldset legend="Einstellungen">
      <p-panel [styleClass]="'mb-2'">
        <ng-template pTemplate="header">
          <div class="flex align-items-center gap-2">
            <h4 class="my-2">Check-Modus</h4>
          </div>
        </ng-template>
        <p>Zufällige Reihenfolge der Fragen</p>
        <p-inputSwitch [(ngModel)]="shuffleCheck"></p-inputSwitch>
        <p>Anzahl der Fragen</p>
        <p-inputNumber inputId="integeronly" [(ngModel)]="qMaxCheck">
        </p-inputNumber>
      </p-panel>
      <p-panel [styleClass]="'mb-2'">
        <ng-template pTemplate="header">
          <div class="flex align-items-center gap-2">
            <h4 class="my-2">Exam-Modus</h4>
          </div>
        </ng-template>
        <p>Zufällige Reihenfolge der Fragen</p>
        <p-inputSwitch [(ngModel)]="shuffleExam"></p-inputSwitch>
        <p>Anzahl der Fragen</p>
        <p-inputNumber inputId="integeronly" [(ngModel)]="qMaxExam">
        </p-inputNumber>
      </p-panel>
      <p-toolbar>
        <p-button label="Speichern" (onClick)="onSaveOptions()"></p-button>
      </p-toolbar>
    </p-fieldset>
  </div>
</div>
