<div class="container border ">
  <div class="row">
    <h1 class="text-center">LPIC-1 Learn / Check / Exam</h1>
  </div>
  <div class="row">
    <div class="col">
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
      </p>
    </div>
    <div class="col">
      <div class="d-grid gap-2 col-6 mx-auto">
        <a href="#" class="btn btn-secondary my-3">Learn - Liste</a>
        <a href="#" class="btn btn-secondary my-3">Learn - Einzel</a>
        <a href="#" class="btn btn-secondary my-3">Check</a>
        <a href="#" class="btn btn-secondary my-3">Exam</a>
      </div>
    </div>
  </div>
</div>
<button class="btn btn-primary" (click)="test()">test</button>