<ng-container *ngFor="let q of questions$ | async as questions">
  <div class="grid mb-2">
    <div class="col-8 col-offset-2">
      <p-fieldset legend="Frage {{ q.id }} / {{ questions.length }}">
        <p style="white-space: pre-line">{{ q.question }}</p>
        <ng-container *ngIf="q.type === 'fill'; else elseTypeTempl">
          <input
            pInputText
            type="text"
            disabled
            value="{{ q.choices[0].answer }}"
          />
        </ng-container>
        <ng-template #elseTypeTempl>
          <div *ngFor="let a of q.choices">
            <p 
              class="card-text p-2 border-1 border-round overflow-hidden"
              [ngClass]="{'bg-green-200': a.correct}">
              {{ a.answer }}
            </p>
          </div>
        </ng-template>
      </p-fieldset>
    </div>
  </div>
</ng-container>
