<div class="grid mb-2">
  <div class="col-8 col-offset-2" *ngIf="question">
    <p-fieldset legend="Frage {{ questionIndex + 1 }} / {{ numberQuestions }}">
      <ng-container [ngSwitch]="question.type">
        <div *ngSwitchCase="'single'">
          <lpi-single-choice> </lpi-single-choice>
        </div>
        <div *ngSwitchCase="'multi'">
          <lpi-multi-choice> </lpi-multi-choice>
        </div>
        <div *ngSwitchCase="'fill'">
          <lpi-fill-in> </lpi-fill-in>
        </div>
      </ng-container>
      <div class="grid">
        <div class="col-6 text-left">
          <p-button
            class="mr-2"
            size="small"
            raised="true"
            severity="secondary"
            icon="pi pi-caret-left"
            [disabled]="questionIndex <= 0"
            (click)="onPreviousQuestion()"
          >
          </p-button>
          <p-button
            class="mr-2"
            size="small"
            raised="true"
            severity="secondary"
            icon="pi pi-caret-right"
            iconPos="right"
            [disabled]="questionIndex >= numberQuestions - 1"
            (click)="onNextQuestion()"
          ></p-button>
          <p-button
            size="small"
            raised="true"
            severity="danger"
            label="Beenden"
            icon="pi pi-times"
            routerLink="/exam/result"
            (click)="onExit()"
          >
          </p-button>
        </div>
        <div class="col-6 text-right">
          <p-toast position="top-center" key="tc"></p-toast>
          <p-button
            class="mr-3"
            size="small"
            raised="true"
            severity="warning"
            label="Überspringen"
            icon="pi pi-hourglass"
            (click)="onSkip()"
          >
          </p-button>
          <p-button
            [label]="(questionIndex === numberQuestions - 1) ? 'Beenden' : 'Antworten'"
            size="small"
            raised="true"
            severity="success"
            icon="pi pi-check"
            (click)="onSubmit()"
          >
          </p-button>
        </div>
      </div>
    </p-fieldset>
  </div>
</div>
<p-dialog
  header="Header"
  [(visible)]="dialogVisible"
  [modal]="true"
  [style]="{ width: '50rem' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
>
  <ng-template pTemplate="header">
    <div class="inline-flex align-items-center justify-content-center gap-2">
      <span class="font-bold white-space-nowrap">Ups...</span>
    </div>
  </ng-template>
  <p class="m-0">Das war leider nicht korrekt!</p>
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      (click)="dialogVisible = false"
      label="Ok"
      pAutoFocus
      [autofocus]="true"
    ></p-button>
  </ng-template>
</p-dialog>
