<ng-container *ngIf="currentQuestion">
  <p style="white-space: pre-line">{{ currentQuestion.question }}</p>
  <div class="flex flex-column gap-2">
    <div
      *ngFor="let answer of currentQuestion.answers; index as i"
      class="field-checkbox"
    >
      <p-radioButton
        [inputId]="i"
        name="answer"
        [value]="i"
        [(ngModel)]="selectedAnswer"
      ></p-radioButton>
      <label [for]="i" class="ml-2">{{ answer.answer }}</label>
    </div>
  </div>
</ng-container>
