<div class="card flex justify-content-center m-5">
  <p-fieldset legend="Start">
    <div class="grid nested-grid">
      <div class="col-8">
        <h2>Willkommen in der LPIC Learn/Check/Exam App</h2>
        <p class="m-0">
          Dieses App bietet dir die Möglichkeit, dich optimal auf die LPIC
          Prüfungen vorzubereiten.
        </p>
        <p>
          Im <span class="font-semibold">Learn-Modus</span> kannst du die
          Fragenkataloge einzelnd durchgehen und dir zu jeder Frage die Lösung
          anzeigen lassen. Ein Beantworten der Fragen ist in diesem Modus nicht
          möglich.
        </p>
        <p>
          Im <span class="font-semibold">Check-Modus</span> kannst du die Fragen
          beantworten und bekommst bei falscher Beantwortung direkt ein
          Feedback. Wenn du dir bei manchen Fragen unsicher bist, kann du sie
          überspringen. Du solltest nicht einfach die Antworten raten, denn bei
          mehr als sieben falsch beantworteten Fragen wird der Modus beendet.
        </p>
        <p>
          Der <span class="font-semibold">Exam-Modus</span> bietet dir die
          Möglichkeit dein Wissen zu prüfen und eine echte Prüfung zu
          simulieren. Du bekommst ein Ergebnis erst am Ende des Durchlaufs
          angezeigt. Allerdings wird der Modus bei mehr als 20% falsch
          beantworteter Fragen beendet, also sollte besser nicht geraten werden.
        </p>
        <p>
          In der <span class="font-semibold">Fragenliste</span> kannst du alle
          Fragen eines Katalogs mitsamt ihren Antworten anzeigen, z.B. um sie
          auszudrucken.
        </p>
        <p>
          In den <span class="font-semibold">Einstellungen</span> können für den
          Check-Modus und Exam-Modus die Anzahl der Fragen begrenzt werden. Weiterhin
          ist es möglich zu wählen ob die Fragen zufällig oder in Reihenfolge
          gestellt werden.
        </p>
      </div>
      <div class="col-4">
        <img src="assets/tux.png" />
      </div>
    </div>
  </p-fieldset>
</div>
